🔆 CR: ! CR !
🔆 Situație: H is asking about the legal and mandatory requirements in Italy regarding:  
🔆 Departament: CE

===========================
• H is asking about the legal and mandatory requirements in Italy regarding:   

1. the registration number of the listing
2. carbon monoxide detector
3. fire extinguisher
4. the taxes that need to be paid.
==========================


Per rispondere alla Sua richiesta riguardante le disposizioni legali per gli host che ospitano in Italia, La invitiamo cortesemente a consultare gli articoli:

Ospitare responsabilmente in Italia
airbnb.it/help/article/1394

Riscossione e pagamento della tassa di soggiorno in Italia da parte di Airbnb
airbnb.it/help/article/2287

Che cosa dovrei prendere in considerazione prima di ricevere degli ospiti per lunghi periodi in Italia?
airbnb.it/help/article/3020

Sicurezza domestica: rilevatori di monossido di carbonio e allarmi antincendio
airbnb.it/help/article/514

Informazioni sulla sicurezza negli annunci
airbnb.it/help/article/2904


Possiamo esservi d'aiuto con qualcos'altro?



🔆 SPEECH: ::::::::::::::::::::::::::::::::::::::::

===========================


🔆 Regulament: ::::::::::::::::::::::::::::::::::::
